<%- include('../partials/header', { title: 'Forgot Password | SDPMSS' }) %>

<div class="sticky-navbar-wrapper">
    <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/join">Join Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/scan">Verify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactUs">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
    <div class="container mt-5 " style="height:300px;">
        <h2>Forgot Password</h2>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <% if (typeof message !== 'undefined') { %>
                <div class="alert alert-success"><%= message %></div>
            <% } %>
            <form action="/forgot-password" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>



        <%- include('../partials/footer') %>
