<%- include('../partials/header', { title: 'Gallery | SDPMSS' }) %>
<div class="container mt-5">
    <h2 class="text-center mb-4">Gallery</h2>
    <div class="row">
        <!-- Image Item -->
        <div class="col-md-4 gallery-item">
            <img src="/assests/sdpmssLogo.jpg" class="img-fluid" data-toggle="modal" data-target="#galleryModal" data-title="SDPMSS LOGO" data-description="This is the official logo of the SDPMSS Organization" data-type="image" data-src="/assests/sdpmssLogo.jpg" alt="Image 1">
            <p class="text-center">SDPMSS LOGO</p>
        </div>
        <!-- Video Item -->
        <div class="col-md-4 gallery-item">
            <img src="https://img.youtube.com/vi/Y3gqoDUtmt4/0.jpg" class="img-fluid" data-toggle="modal" data-target="#galleryModal" data-title="Video Title 1" data-description="Description for Video 1" data-type="video" data-src="https://www.youtube.com/embed/Y3gqoDUtmt4" alt="Video 1">
            <p class="text-center">Video Title 1</p>
        </div>
        <!-- Add more items as needed -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex">
                <div class="media-content">
                    <!-- Content will be injected here by JavaScript -->
                </div>
                <div class="media-info ml-3">
                    <h5 id="mediaTitle"></h5>
                    <p id="mediaDescription"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $('#galleryModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var title = button.data('title'); // Extract info from data-* attributes
        var description = button.data('description');
        var type = button.data('type');
        var src = button.data('src');

        var modal = $(this);
        modal.find('.modal-title').text(title);
        modal.find('#mediaTitle').text(title);
        modal.find('#mediaDescription').text(description);

        if (type === 'image') {
            modal.find('.media-content').html('<img src="' + src + '" class="img-fluid">');
        } else if (type === 'video') {
            modal.find('.media-content').html('<iframe width="100%" height="400" src="' + src + '" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        }
    });
</script>


<%- include('../partials/footer') %>
