<%- include('../partials/header', { title: 'Home | SDPMSS' }) %>

<div class="container content-container">
    <h2>Global Warming's Impact: A Looming Threat</h2>
    <p>Rising temperatures disrupt weather patterns, causing more extreme weather events</p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Y3gqoDUtmt4?si=-8qFb-8VJblvWm_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=Y3gqoDUtmt4&pp=ygUYZ2xvYmFsIHdhcm1pbmcgYW5pbWF0aW9u" allowfullscreen></iframe> -->
    </div>
</div>

<%- include('../partials/footer') %>
