<%- include('../partials/header', { title: 'Join Us | SDPMSS' }) %>


<div class="container content-container">
    <h2>Join Us</h2>
    <br>
    <br>
    <h3>Ways to Get Involved:</h3>
    <ul>
        <li>Volunteer for local climate action projects.</li>
        <li>Donate to support our initiatives and campaigns.</li>
        <li>Spread awareness on social media.</li>
        <li>Join our mailing list for updates and events.</li>
    </ul>
    <h3>Support Us:</h3>
    <p>By donating or becoming a member, you can help us make a greater impact:</p>
    <div>   
        <a href="/donate" class="btn btn-primary">Donate</a>
        <% if (user) { %>
            <a href="/user/membership" class="btn btn-primary">Become a Member</a>
        <% } else { %>
            <a href="/register" class="btn btn-primary">Become a Member</a>
        <% } %>
        
    </div>

    <h3>Contact Us:</h3>
    <p>If you have any questions or would like to get involved, feel free to reach out to us at <a href="/contactUs">contact us</a>.</p>
</div>




<%- include('../partials/footer') %>
