<%- include('../partials/header', { title: 'Login | SDPMSS' }) %>

    <div class="container mt-5">
        <h2>Login</h2>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger"><%= error %></div>
        <%} %>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-3">
            <a href="/forgot-password" class="btn btn-link">Forgot Password?</a>
        </div>
        <div class="mt-3">
            <a href="/auth/google" class="btn btn-danger">Login with Google</a>
        </div>
    </div>
    <%- include('../partials/footer') %>
