<%- include('../partials/header', { title: 'Our Work | SDPMSS' }) %>
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">Our Work</h1>
            <p class="card-text">Our work will be displayed here...</p> </div>
    </div>
</div>

<%- include('../partials/footer') %>
