<%- include('../partials/header', { title: 'Reset Password | SDPMSS' }) %>
    <div class="container mt-5" style="height:300px;">
        <h2>Reset Password</h2>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <form action="/reset-password/<%= token %>" method="POST">
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
    <%- include('../partials/footer') %>
